:root {
  --color1: #88E0EF;
  --color2: #161E54;
  --color3: #FF5151;
  --color4: #FF9B6A;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width:100%;
  background-color: var(--color1);
  color: #fff;
  padding: 20px;
  height:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
  padding-top: 2px;
  font-size:50px;
}

header nav {
  float:right;
  padding-top: 30px;
  margin-right: 20px;
  font-size:25px;
  display: flex;
  flex-wrap: wrap;
}

header nav ul {
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  display:inline-block;
  margin-left:25px;
}
.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/hero-bg.jpg");
}
.about-section {
  font-size:30px;
  color:var(--color1);
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.avatar{
width:30%;
}
.avatar img{
width:100%;
}
.content {
  display:flex;
  flex-wrap:wrap;
  margin: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
.content h2 {
  color: var(--color3);
}

